rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la tabla de usuarios autorizados
    match /whitelisted_users/{userId} {
      allow read, write: if request.auth != null;
    }
    
    // Reglas para enviar emails (usado por la extensión Trigger Email)
    match /mail/{mailId} {
      allow create: if request.auth != null;
    }
    
    // Reglas para gastos y kms (Nivel Usuario)
    match /users/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null;
    }
    
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
